.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.user-information-container{
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 564px;
    margin-top: 24px;
}

.flexbox-container{
    width: auto;
    height: 588px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 24px;
}

/*user information box*/
/*upper box's style*/
.upper-box{
    width: auto;
    height: 334px;
    background: hsl(246, 80%, 60%);
    margin: 0 12px;
    padding: 30px;
    border-radius: 15px;
    z-index: 1;
}

.user-image{
    width: 76px;
    height: 76px;
    margin: 0px 0px 40px;
    border: 3px solid white;
    border-radius: 100%;
    flex: 1;
}

.upper-box > p{
    font: 18px Rubik, sans-serif;
    color: #6f76c8;
    margin: 0;
}

.upper-box .user-name{
    font: 45px Rubik, sans-serif;
    color: #cccccc;
    margin: 10px 0 0;
}

/*bottom box's style*/
.bottom-box{
    width: auto;
    height: 94px;
    background:  hsl(235, 46%, 20%);
    margin: -24px 12px 0; 
    padding: 50px 30px;
    border-radius: 15px;
    z-index: 0;
    
}

.bottom-box-text {
    width: 222px;
    height: 45px;
    font: 18px Rubik, sans-serif;
    color: hsl(235, 45%, 61%); 
    margin-top: auto;
    list-style: none;
    padding-left: 0px;
    line-height: 2.7rem;
}

.bottom-box-text .weekly{
    color: #ffffff;
}

.bottom-box-text > li:hover { 
    color: #ffffff;;
}

.flexbox{
    width: 281px;
    height: 270px;
    margin: 0px 12px; 
} 

.background-box{
    width: 281px;
    height: 81px;
}

/*each background box's style*/
.work-background-box{
    background: hsl(15, 100%, 70%);
    overflow: hidden;  
    border-radius: 15px;
    z-index: 0; 

}   

.play-background-box{
    background: hsl(195, 74%, 62%);
    overflow: hidden;
    border-radius: 15px;
    z-index: 0; 
}   

.study-background-box{
    background: hsl(348, 100%, 68%);
    overflow: hidden;
    border-radius: 15px;
    z-index: 0; 

}   

.exercise-background-box{
    background: hsl(145, 58%, 55%);
    overflow: hidden;
    border-radius: 15px;
    z-index: 0; 
}   

.social-background-box{
    background: hsl(264, 64%, 52%);
    overflow: hidden;
    border-radius: 15px;
    z-index: 0; 
}   

.self-background-box{
    background: hsl(43, 84%, 65%);
    overflow: hidden;
    border-radius: 15px;
    z-index: 0; 
}   

[class$="-background-box"] img{
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -10px;
    margin-right: 15px;
    position: relative;

}

.information-box{
    width: 221px;
    height: 156px; 
    color: #cccccc;
    background: hsl(235, 46%, 20%);
    margin-top: -27px;
    padding: 30px;
    border-radius: 15px;
    z-index: 1;
    position: absolute;
}

.information-box:hover{
    background: #333f6c;
}

.information-box img{
    width: 20px;
    height: 5px;
    padding: 30px;
    display: inline;
    float: right;
    margin-top: -30px;
    margin-right: -30px;
}

.item-name{
    width: 221px;
    height: 22px;
    color: #cccccc;
    font: 18px Rubik, sans-serif;
    margin: auto;
    margin-left: 0;
    
}

.item-current-time{
    width: 221px;
    height: 64px;
    color: #cccccc;
    font: 54px Rubik, sans-serif;
    margin: 36px 0 18px;
}

.item-previous-time{
    width: 221px;
    height: 22px;
    color: hsl(235, 45%, 61%); 
    font: 18px Rubik, sans-serif;
    margin: auto;
    margin-left: 0;
}

body{
    background: #0f1424;
    margin: 0;
}

.footer-text{
    width: 100%;
    height: auto;
    font: 11px Rubik, sans-serif;
    color: hsl(235, 45%, 61%); 
    text-align: center;
    position: static;
}

footer a{
    font: 11px Rubik, sans-serif;
    color: #3e52a3; 
}


/* responsive web design*/
/* viewport is 1239px wide or less*/
@media (max-width: 1239px) {
    .content{
        display: flex;
    }

    .user-information-container{
        width: 252px;
    }

    .upper-box{
        width: auto;
    }

    .upper-box img{
        width: 35%;
        height: auto;
    }

    .bottom-box{
        width: auto;
    }

    .flexbox-container{
        width: auto;
    }

    .flexbox{
        width: 227px;
    }

    .background-box{
        width: 227px;
    }

    .information-box{
        width: 167px;
    }
}

/* viewport is 1023px wide or less*/
@media (max-width: 1023px) {
    .content{
        display: block;
        height: auto;
    }
    .user-information-container{
        width: auto;
        height: 515px;
        padding: 0 8px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .upper-box{
        width: auto;
        height: 294px;
        margin: 0;
    }

    .upper-box img{
        width: 22%;
        height: auto;
    }

    .bottom-box{
        width: auto;
        height: 94px;
        margin-top: -35px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .user-name{
        font-size: 2.5rem;
    }

    .flexbox-container{
        display: grid;
        grid-template-columns: 2fr 2fr;
        width: auto;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }

    .flexbox{
        width: auto;
        height: 264px;
        margin: 0;
        padding: 0 8px;
    }

    .background-box{
        width: auto;
        height: 81px;
        z-index: 0;
    }

    .information-box {
        width: auto;
        height: 126px;
        font-size: 1rem;
        position: relative;
    }

    .item-current-time{
        margin: 18px 0 10px;
    }
    
    .footer-text{
        position: static;
        padding: 0;
        margin: 0;
    }
}


/*viewport is 739px wide or less*/
@media (max-width: 739px) {
    .content{
        display: block;
        height: auto;
    }

    .user-information-container{
        width: auto;
        height: auto;
        margin-left: 4%;
        margin-right: 4%;
    }
    
    .upper-box{
        width: auto;
        height: 294px;
    }

    .bottom-box{
        width: auto;
        height: 94px;
        margin-top: -35px;
    }

    .flexbox-container{
        display: block;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 4%;
        margin-right: 4%;
    }

    .flexbox{
        display: block;
        width: auto;
        height: 264px;
    }

    .background-box{
        width: auto;
        height: 81px;
        z-index: 0;
    }

    .information-box {
        width: auto;
        height: 126px;
        font-size: 1rem;
        z-index: 1;
    }

    .item-current-time{
        margin: 18px 0 10px;
    }   

    .footer-text {
        position: static;
        padding: 0;
        margin-top: 0;
        bottom: 0;
    }
}

/*viewport is 449px wide or less*/
@media (max-width: 449px) {
    .content{
        display: block;
        height: auto;
    }
    .user-information-container{
        width: auto;
        height: auto;
        margin-left: 3%;
        margin-right: 3%;
    }

    .upper-box{
        width: auto;
        height: 77px;
    }

    .upper-box img{
        margin-right: 15px;
        float: left;
    }

    .upper-box p{
        width: auto;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }

    .upper-box .user-name{
        font-size: 1.2rem;
        display: inline-block;
    }

    .bottom-box{
        width: auto;
        height: 19px;
        padding: 40px 0;
    }

    .bottom-box-text{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        margin: 0;
    }

    .item-current-time{
        width: auto;
        font-size: 1.5rem;
    }

    .item-previous-time{
        width: auto;
        font-size: 1.2rem;
        display: inline-block;
    }

    .flexbox-container{
        display: block;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 3%;
        margin-right: 3%;
    }

    .flexbox{
        display: block;
        width: auto;
        height: 189px;
    }

    .background-box{
        width: auto;
        height: 82px;
        z-index: 0;
    }

    .information-box {
        width: auto;
        height: 60px;
        padding: 20px 20px 30px;
        font-size: 1rem;
        z-index: 1;
    }

    .item-name{
        width: auto;
        height: auto;
        font-size: 16px;
    }

    .item-current-time{
        float: left;
        margin-top: 1rem;
        font-size: 1.5rem;
    }    

    .item-previous-time{
       float: right;
       margin-top: 1.2rem;
       font-size: 16px;
        margin-right: -50px;
    }

    .footer-text {
        position: static;
        padding: 0;
        margin-top: 0;
    }

    .upper-box .user-name {
        width: calc(100% - 28%);
    }
}